* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
label input {
  padding-left: 8px;
}
textarea,
input[type="text"],
input[type="password"] {
  border: 1px solid #5f7d8c;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 3px;
  background: transparent;
}
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover {
  background: white;
  border: 1px solid #c3c3c3;
}
.co-search {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  height: 40px;
}
.co-search input {
  border: 1px solid #5f7d8c;
  transition: background 0.5s ease-in-out;
  will-change: background;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 6px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: .8rem;
}
.co-search input + .search-btn {
  color: white;
  will-change: color;
  transition: color 0.5s ease-in-out;
}
.co-search input::-webkit-input-placeholder {
  color: inherit;
}
.co-search input:hover {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.2);
}
.co-search input:active,
.co-search input:focus {
  border: 1px solid #5f7d8c;
  box-shadow: none;
  outline: none;
  color: black;
  transition: background 0.5s ease-in-out;
  background: white;
  will-change: background;
}
.co-search input:active input::-webkit-input-placeholder,
.co-search input:focus input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.199);
}
.co-search input:active + .search-btn,
.co-search input:focus + .search-btn {
  color: #5f7d8c;
  will-change: color;
  transition: color 0.5s ease-in-out;
}
.co-search .search-btn {
  position: absolute;
  cursor: pointer;
  font-size: 1.2rem;
  top: 0;
  right: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}
.co-search .search-btn li {
  font-weight: 100;
}
.article-item {
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .article-item {
    width: 33.3333%;
    padding: 24px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .article-item {
    width: 50%;
    box-sizing: border-box;
    padding: 24px;
  }
}
@media screen and (max-width: 768px) {
  .article-item {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
  }
}
.article-item .thumnail {
  width: 100%;
  padding-bottom: 70.3125%;
  height: 0;
  overflow: hidden;
}
.article-item .thumnail img {
  width: 100%;
  height: auto;
}
.article-item a.title {
  display: inline-block;
  font-size: 18px;
  color: #333;
  padding: 18px 0;
  text-decoration: none;
}
.article-item a.title:hover {
  text-decoration: underline;
}
.article-item .tags {
  white-space: nowrap;
  padding: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-item .tags .tag {
  padding: 0 4px;
  display: inline-block;
  color: #999;
  font-size: 12px;
}
.article-item .tags .tag:first-child {
  padding-left: 0;
}
.article-item .meta-data {
  padding: 4px 0;
  color: #666;
  font-size: 12px;
}
.article-item .meta-data .view-num {
  padding-left: 12px;
}
.chear-up-btn {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #e8e8e8;
  position: relative;
  margin: 12px;
}
.chear-up-btn .content-wrapper {
  width: 100%;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;
}
.chear-up-btn .content-wrapper .data,
.chear-up-btn .content-wrapper .icon {
  padding: 4px 0;
  color: #a9a9a9;
}
.chear-up-btn .content-wrapper .data {
  font-size: 12px;
  width: 100%;
  padding: 4px 16px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.chear-up-btn .content-wrapper .icon {
  font-size: 18px;
  width: 100%;
  display: block;
  text-align: center;
}
.chear-up-btn .content-wrapper li {
  display: inline-block;
  font-size: 36px;
  text-align: center;
}
.chear-up-btn.pressed {
  background: #edaa09;
  will-change: background;
  transition: background 0.5s ease-in-out;
}
.chear-up-btn.pressed .data,
.chear-up-btn.pressed .icon {
  will-change: background;
  color: white;
  transition: color 0.5s ease-in-out;
}
.scroll-top {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.34);
  color: white;
  position: relative;
  cursor: pointer;
}
.scroll-top .content-wrapper {
  width: 100%;
  height: 100%;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}
.scroll-top .content-wrapper li {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 64px;
  font-size: 48px;
}
.fe-tag {
  display: inline-block;
  padding: 3px 12px;
  margin: 4px;
  font-size: .8rem;
  border: 1px solid #999;
  border-radius: 6px;
  color: #4c6775;
  font-size: 12px;
  background: white;
  cursor: default;
}
.fe-tag:hover {
  background: #7d99a7;
  color: white;
  border: 1px solid #618090;
}
.fe-tag:hover * {
  color: white;
}
.be-tag {
  display: inline-block;
  padding: 4px 4px;
  margin: 4px;
  font-size: .8rem;
  border: 1px solid #999;
  border-radius: 4px;
  color: #4c6775;
  font-size: 12px;
  background: white;
  cursor: default;
}
.be-tag .tag-data {
  display: inline-block;
  padding: 0 4px 0 4px;
}
.be-tag .tag-btn {
  padding: 4px 4px 4px 8px;
  border-left: 1px solid #999;
  cursor: pointer;
}
.be-tag .tag-btn li {
  color: #4c6775;
}
.be-tag:hover {
  background: #7d99a7;
  border: 1px solid #618090;
}
.be-tag:hover * {
  color: white;
}
.be-tag:hover * li {
  color: inherit;
}
.be-tag:hover .tag-btn {
  border-left: 1px solid white;
}
button,
.button,
input[type='button'] {
  display: inline-block;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 4px;
  margin: 12px 24px;
  min-width: 92px;
  cursor: pointer;
}
button.blue-btn,
.button.blue-btn,
input[type='button'].blue-btn {
  background: #50abd8;
}
button.blue-btn:hover,
.button.blue-btn:hover,
input[type='button'].blue-btn:hover {
  background: #3ba1d3;
}
button.blue-btn:active,
.button.blue-btn:active,
input[type='button'].blue-btn:active {
  background: #2d95c8;
}
button.plain-btn,
.button.plain-btn,
input[type='button'].plain-btn {
  background: white;
  border: 1px solid black;
  color: black;
}
button.plain-btn:hover,
.button.plain-btn:hover,
input[type='button'].plain-btn:hover {
  background: none;
}
button.plain-btn:active,
.button.plain-btn:active,
input[type='button'].plain-btn:active {
  background: none;
}
button.yellow-btn,
.button.yellow-btn,
input[type='button'].yellow-btn {
  background: #ff9d00;
}
button.yellow-btn:hover,
.button.yellow-btn:hover,
input[type='button'].yellow-btn:hover {
  background: #f59700;
}
button.yellow-btn:active,
.button.yellow-btn:active,
input[type='button'].yellow-btn:active {
  background: #e68d00;
}
.menu-item {
  width: 80px;
  height: 104px;
  position: relative;
  color: white;
  background: #495b64;
  box-sizing: border-box;
  padding: 6px 0;
  text-align: center;
  will-change: background;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}
.menu-item .icon {
  padding: 8px 12px;
  width: auto;
  font-size: 36px;
  color: inherit;
  display: inline-block;
  text-align: center;
}
.menu-item .icon li {
  display: inline-block;
}
.menu-item .data {
  color: white;
  width: 100%;
  position: relative;
  top: -8px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}
.menu-item:hover {
  will-change: background;
  transition: background 0.2s ease-in-out;
  background: #3e4e55;
}
.menu-item.active {
  background: #1b2b33;
}
.menu-item.active .icon li {
  color: #6ea0b9;
}
.menu-item.active .data {
  color: #6ea0b9;
}
.login-portrait {
  width: auto;
  display: inline-block;
}
.login-portrait .portrait {
  display: inline-block;
  height: 28px;
  width: 28px;
  overflow: hidden;
  border-radius: 14px;
  float: left;
}
.login-portrait .portrait img {
  width: 100%;
  height: 100%;
}
.login-portrait .username {
  font-size: 12px;
  display: inline-block;
  color: #666;
  line-height: 28px;
  float: left;
  padding-left: 12px;
}
.sys-config-item {
  width: 200px;
  height: 150px;
  background: white;
  border: 1px solid #efefef;
  box-sizing: border-box;
  padding: 25px;
  position: relative;
  margin: 32px;
}
.sys-config-item:hover {
  box-shadow: 0 0 0px 1px #efefef;
}
.sys-config-item .item-data {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0 4px;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  font-size: 48px;
  color: #2196F3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sys-config-item .item-data li {
  font-size: 48px;
  display: inline-block;
  color: inherit;
}
.sys-config-item a.trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}
.sys-config-item .data {
  display: inline-block;
  width: 100%;
  color: #666;
  text-align: center;
  font-size: 18px;
  padding: 8px 0;
}
#current-loc {
  color: #666;
}
#current-loc a {
  color: inherit;
  text-decoration: none;
}
#current-loc a:hover {
  text-decoration: underline;
  cursor: pointer;
}
