@import "param.less";
*{
    margin:0;
    padding:0;
}
html{
    width:100%;
    height:auto;
}
body{
    @media screen and (min-width:768px){
        font-size: 16px;
    }
    @media screen and (max-width:768px){
        font-size:12px;
    }
}
.clearfix{
    &:after{
        content:"";
        display: block;
        clear:both;
    }
}
//输入框组件
input[type="text"],
input[type="password"],
textarea{
    border: @inputborder;
    padding: 4px 8px;
    font-size: 1rem;
    border-radius: 3px;
    background: transparent;
    &:hover{
        background: white;
        border: @inputhoverborder;
    }
    &:focus{

    }
}
//  按钮组件
 input[type="button"],
 input[type="submit"],
 input[type="reset"]
 button,.btn{

 }
 //搜索框组件
 .co-search{
     display: inline-block;
     position: relative;
     box-sizing: border-box;
     height:@searchheight;
     input{
        border:@searchborder;
        transition:background .5s ease-in-out;
        will-change: background;
        border-radius: @searchborderradius;
        background: @normalstatebg;
        color:@focusstatebg;
        padding: @searchpadding;
        width:100%;
        height:100%;
        box-sizing: border-box;
        font-size: .8rem;
        &+.search-btn{
            color:@focusstatebg;
            will-change:color;
            transition:color .5s ease-in-out;
        }
        &::-webkit-input-placeholder{
            color:inherit;
        }
        &:hover{
             box-shadow: none;
             background:@normalstatebg;
         }
        &:active,&:focus{
            border:@focustatehoverandactive;
            box-shadow: none;
            outline:none;
            color:black;
            transition:background .5s ease-in-out;
            background: @focusstatebg; 
            will-change: background;
            input::-webkit-input-placeholder{
                color:fadeout(@normalstatebg,.10%);
            }
            &+.search-btn{
                color:@normalstatebg;
                will-change:color;
                transition:color .5s ease-in-out;
            }
        }
     }
    .search-btn{
        position: absolute;
        cursor:pointer;
        font-size: 1.2rem;
        top:0;
        right:@searchborderradius;
        display: flex;
        align-items: center;
        height:100%;
        li{
            font-weight: 100;
        }
    }
 }
 //列表条目
 .article-item{
    display:inline-block;
    @media screen and (min-width:1280px){
        width:25%;
        margin:24px;
    }
    @media screen and (max-width:1280px) and (min-width:840px){
        width:33.333%;
        margin:24px;
    }
    @media screen and (max-width:840px){
        width:100%;
        margin:24px;
    }
    .thumnail{
        width:100%;
        padding-bottom: 66.66666%;
        height:0;
        img{
            width:100%;
            height:auto;
        }
    }
 }
 
 //点赞按钮
 .chear-up{
     cursor: pointer;
     width:@chearupw;
     height:@chearuph;
     border-radius: @chearuph*0.5;
     background: @chearupbg;
     position: relative;
     margin:12px;
     .content-wrapper{
         width:100%;
         height:100%;
         padding: 12px;
         box-sizing: border-box;
         .data,.icon{
            padding:4px 0;
            color:@chearupcolor;
         }
        .data{
            font-size: 12px;
            width:100%;
            padding: 4px 16px;
            box-sizing: border-box;
            display: block;
            text-align: center;
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .icon{
            font-size: 18px;
            width:100%;
            display: block;
            text-align: center;
        }
        li{
            display: inline-block;
            font-size: 36px;
            text-align: center;
        }
     }
    &.pressed{
        background:@chearuppressedbg;
        .data, .icon{
            color:@chearuppressedcolor;
        }
    }
    &:hover{
        //TODO
    }
 }
//回到顶部
 .srcoll-top{
     cursor: pointer;
     width:@dianzanw;
     height:@dianzanh;
     border-radius: @dianzanh*0.5;
     background: @dianzanbg;
     color:@dianzancolor;
     position: relative;
     cursor:pointer;
     .content-wrapper{
         width:100%;
         height:100%;
         padding: 8px;
         box-sizing: border-box;
         text-align: center;
         vertical-align: middle;
        box-sizing: border-box;
        li{
            display: block;
            width:100%;
            height:100%;
            line-height: @dianzanw - 16;
            font-size: @dianzanw - 32;
        }
     }
    &:hover{
        //TODO
    }
 }
 //前台标签按钮
 .fe-tag{
    display: inline-block;
    padding:6px 12px;
    margin:4px;
    font-size: .8rem;
    border: @tagborder;
    border-radius:6px;
    color:@tagcolor;
    font-size:@tagfontsize;
    background:@tagbg;
    cursor:default;
    &:hover{
        background:@taghoverbg;
        border:1px solid darken(@taghoverbg,10%);
        *{
            color:@taghovercolor;
        }
    }
 }
//后台标签
 .be-tag{
    display: inline-block;
    padding:0px 12px;
    margin:4px;
    font-size: .8rem;
    border: @tagborder;
    border-radius:@tagborderradius;
    color:@tagcolor;
    font-size:@tagfontsize;
    background:@tagbg;
    cursor:default;
    .tag-data{
        display: inline-block;
        padding: 6px 4px;
    }
    .tag-btn{
        padding:4px 0 4px 8px;
        border-left:@tagbtnborder;
        cursor: pointer;
        li{
            color:@tagcolor;
        }
    }
    &:hover{
        background:@taghoverbg;
        border:1px solid darken(@taghoverbg,10%);
        *{
            color:@taghovercolor;
            li{
                color:inherit;
            }
        }
        & .tag-btn{
            border-left:@tagbtnhoverborder;
        }
    }
 }
 button,.button,input[type='button']{
     display: inline-block;
     border: none;
     outline: none;
     color:@btncolor;
     font-size:@btnfontsize;
     padding:10px 16px;
     border-radius:@btnborderradius;
     margin:12px 24px;
     cursor:pointer;
     &.blue-btn{
        background:@bluebtnbg;
        &:hover{
            background:darken(@bluebtnbg,5%);
        }
        &:active{
            background: darken(@bluebtnbg,10%);
        }
     }
     &.plain-btn{
         background:@plainbtnbg;
         border:@plainbtnborder;
         color:@plaincolor;
         &:hover{
            background: none;
         }
         &:active{
            background: none;
         }
     }
    &.yellow-btn{
        background:@yellowbtnbg;
        &:hover{
            background: darken(@yellowbtnbg,2%);
        }
        &:active{
            background:darken(@yellowbtnbg,5%);
        }
    }
 }
//首页菜单按钮(后台)
.menu-item{
    width:@menuitemw;
    height:@menuitemh;
    position: relative;
    color:@menunormalcolor;
    background: @menunormalbg;
    box-sizing: border-box;
    padding:6px 0;
    text-align: center;
    cursor:pointer;
    .icon{
        padding: 8px 12px;
        width:auto;
        font-size:36px;
        color:inherit;
        display: inline-block;
        text-align: center;
        li{
            display: inline-block;
        }
    }
    .data{
        color:white;
        width:100%;
        position:relative;
        top:-8px;
        text-align: center;
        display: inline-block;
        font-size: @menuitemfontsize;
    }
    &:hover{
        background: darken(@menunormalbg,3%);
    }
    &.active{
        background:@menuactivebg;
        .icon li{
            color:@menuactivecolor;
        }
        .data{
            color:@menuactivecolor;
        }
    }
}
 //登陆头像
 .login-portrait{
     width:auto;
     display: inline-block;
     .portrait{
         display: inline-block;
         height:@portraith;
         width:@portraitw;
         overflow: hidden;
         border-radius: @portraitw*0.5;
         float:left;
         img{
             width:100%;
             height:100%;
         }
        &:hover{
            //TODO
        }
        &:active{
            //TODO
        }
     }
    .username{
        font-size: @usernamesize;
        display: inline-block;
        color:@usernamecolor;
        line-height:@portraith;
        float:left;
        padding-left: 12px;
    }
 }
 //系统管理菜单
.sys-config-item{
    width:@sysitemw;
    height:@sysitemh;
    background: @sysitembg;
    border:@sysitemborder;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    margin:32px;
    &:hover{
        box-shadow: @sysitemboxshadow;
    }
    .item-data{
        display: inline-block;
        position: relative;
        width:100%;
        font-size: @sysitemfontsize;
        padding: 0 4px;
        text-align: center;
        box-sizing: border-box;
        margin:auto;
        font-size: @sysitemfontsize;
        color:@sysitemcolor;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space: nowrap;
        li{
            font-size: @sysitemfontsize;
            display: inline-block;
            color:inherit;
        }
    }
    a.trigger{
        position: absolute;
        width:100%;
        height:100%;
        display: block;
        top:0;
        left:0;
    }
    .data{
        display: inline-block;
        width:100%;
        color:@sysitemfontcolor;
        text-align: center;
        font-size:@sysitemdatafontsize;
        padding: 8px 0;
    }
    &:hover{

    }
    &:active{

    }
}
#current-loc{
    color:@currentloccolor;
}