//framework
@import "param.less";
body{
    background:@bodycolor;
}
.row{
    width:100%;
    padding: 12px 0;
    &:after{
        content:"";
        display: block;
        clear:both;
    }
}
//detail page, index page
main.detail,main.index{
    width:100%;
    max-width:1366px;
    margin:auto;
    background:@maincolor;
    height:auto;
    color:@mainfontcolor;
    @media screen and (min-width:1366px){
        box-shadow:@mainboxshadow;
    }
    @media screen and (min-width:768px){
        .scroll-top{
            position:fixed;
            bottom:64px;
            right:64px;
        }
    }
    @media screen and (max-width:768px){
        .scroll-top{
            display: none;
        }
    }
    header{
        background:@headbg;
        position:relative;
        box-sizing: border-box;
        display: table;
        vertical-align: center;
        @media screen and (min-width:768px){
            width:100%;
            height:64px;
            padding: 4px 16px;
            #search{
                float:right;
                margin:(64-@searchheight)*0.5 0;
                width:256px;
            }
            #logo{
                float:left;
            }

        }
        @media screen and (max-width:768px){
            width:100%;
            height:48px;
            padding: 4px 12px;
            #search{
                margin:(48-@searchheight)*0.5 0;
                width:100%;
            }
        }
    }
    #content-wrapper{
        width:92%;
        margin:auto;
        aside{
            float:left;
            position: relative;
        }
        article{
            float:right;
        }
        @media screen and (min-width:1024px){
            padding:24px;
        }
        @media screen and (max-width:12px){
            padding: 12px;
        }
        @media screen and (min-width:768px){
            aside{
                width:27%;
                padding: 24px;
                box-sizing: border-box;
            }
            article{
                width:70%;
                padding: 20px 40px 24px 20px;
                margin-top:32px;
                box-sizing: border-box;
            }
        }
        @media screen and (max-width:768px){
            aside,article{
                width:100%;
            }
        }
        article{
            h2{
                color:#333;
                font-size: 32px;
                font-weight:400;
                padding: 32px 0;
                text-align: left;
            }
            h3{
                padding:24px 0;
                color:#b0bec5;
                font-weight:200;
                font-size: 18px;
                @media screen and (max-width:768px){
                    text-align: center;
                }
            }
            .fe-tags{
                float:left;
            }
            .publishtime,.viewnumber{
                float:right;
                display: inline-block;
                font-size: 12px;
                padding: 0 12px;
                color:#999;
            }
            .viewnumber{
                .data{
                    padding-left:6px;
                }
            }
            .author{
                float:left;
                font-size: 12px;
                color:#999;
                .data{
                    padding-left: 8px;
                }
            }
        }
        .article-items-wrapper{
            .article-item{
                float:left;
            }
        }
        .clear-up-section{
            text-align: center;
            padding: 24px;
            .chear-up-btn{
                display: inline-block;
            }
        }
        .recommands{
            width:100%;
            margin:32px 0;
            h3{
                padding:24px 0;
                color:#b0bec5;
                font-weight:200;
                font-size: 18px;
                @media screen and (max-width:768px){
                    text-align: center;
                }
            }
            ul{
                width:100%;
                color:#666;
                font-size: 12px;
                li{
                    padding: 6px 0;
                    list-style: none;
                    display: inline-block;
                    width:100%;
                    a{
                        display: inline-block;
                        text-decoration: none;
                        float:left;
                        box-sizing: border-box;
                        width:80%;
                        padding: 0 8px 0 0;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        color:inherit;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    .num{
                        width:20%;
                        box-sizing: border-box;
                        display: inline-block;
                        float:right;
                        padding:  0 0 0 8px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        text-align: right;
                    }
                }
            }
        }
        .ads{
            padding:12px;
            .item{
                width:100%;
                padding:6px;
                box-sizing: border-box;
                img{
                    width:100%;
                    height:auto;
                }
            }
        }
    }
}
//login page


// managment page

main.managment{
    height:100%;
    width:100%;
    background: @maincolor;
    aside.toolbar{
        position: fixed;
        bottom: 0;
        top:0;
        float:left;
        height:100%;
        background:@menunormalbg;
        z-index:5;
        .logo{
            height:104px;
            width:80px;
            text-align: center;
            display: flex;
            align-items: center;
            img{
                width:50px;
                margin:auto;
                display: inline-block;
            }
        }
    }
    article{
        width:auto;
        position: relative;
        padding-left:@menuitemw;
        box-sizing: border-box;
        right:0;
        & .header{
            padding: 22px 48px;
            box-sizing: border-box;
            height:70px;
            background:white;
            #current-loc{
                float:left;
            }   
            .login-portrait{
                float:right;
            }
        }
        & section.content-wrapper{
            padding: 24px 48px;
            background:#f7f7f7;
            .content{
                width:100%;
                .tabs-group{
                    display: block;
                    .tab{
                        margin-right:3px;
                        background:#f5f7fa;
                        color:#666;
                        border:1px solid #dae2ed;
                        padding: 12px 24px;
                        font-size:.8rem;
                        box-sizing: border-box;
                        float:left;
                        &.active{
                            background:white;
                            color:#333;
                            border-left:1px solid #dae2ed;
                            border-right:1px solid #dae2ed;
                            border-top:2px solid #ff9d00;
                        }
                    }
                }
                .table-wraper{
                    display: inline-block;
                    background:white;
                    border:1px solid #ececec;
                }
                table.draft{
                    width:960px;
                    padding:  12px 12px 24px 12px;
                    position:relative;
                    top:-2px;
                    .thead td{
                        font-weight:bold;
                    }
                    td{
                        padding: 8px 18px;
                        font-size:12px;
                        color:#666;
                        a{
                            color:#666;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                                color:#50abd8;
                            }
                        }
                        &.toolbar span[class$="btn"]{
                            display: inline-block;
                            padding:6px 12px;
                            cursor: pointer;
                            &:hover{
                                color:#50abd8;
                            }
                        }
                        &.index,&.save-time,&.toolbar{
                            text-align: center;
                        }
                        &.title{
                            text-align: left;
                        }
                    }
                }
                .splitpage{
                    padding:32px 48px;
                    width:100%;
                    position:relative;
                    box-sizing: border-box;
                    text-align: center;
                    span{
                        cursor:pointer;
                        display: inline-block;
                        text-align: center;
                        width:28px;
                        height:28px;
                        border-radius:4px;
                        color:#333;
                        font-size:14px;
                        border:1px solid #dae2ed;
                        line-height: 28px;
                        &.current{
                            border:none;
                            color:#ff9d00;
                        }
                        li{
                            color:#999;
                        }
                    }
                }
            }
        }
    }
}
//sysconfigpage
main.managment{
    .content{
        max-width: 1024px;
        .sys-config-item{
            float:left;
        }
    }
}
//using quill editor to reliaze
//edit page