//normal theme
@inputborder:1px solid gray;
@inputhoverborder:1px solid blue;
@inputborderradious:3px;
@inputpadding:8px 12px;
//search component
@searchborder:1px solid gray;
@searchhoverborder:1px solid gray;
@searchfocusborder:1px solid black;
//点赞按钮
@dianzanbg:rgba(0,0,0,.2);
@dianzanhoverbg:fadeout(black,.8);
@dianzancolor:white;
//标签控件
@tagborder:1px solid #999;
@tagcolor:#333;
@tagbtnborder:1px solid #555;
//普通按钮
@btnborder:0 0 0 1px #666;
@btncolor:white;
@btnbg:#2196F3;
@btnborderradius:4px;
//前台菜单
@mennucolor:white;
@menubg:gray;
@menuhovercolor:gray;
@menuhoverbg:gray;
//后台菜单
@sysitemborderradius:4px;
@sysitemboxshadow:0 0 3px 3px #efefef;
@sysitemborder:1px solid #6d6d6d;
@sysitemcolor:#2196F3;